@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
}

main {
  margin-top: 260px;
}
/* --------------------- navbar ---------------- */
#main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 280px;
  transition: 0.5s;
  z-index: 999;
  text-align: center;
  background-color: #24457e;
}

#judul {
  color: #ebf3ff;
  padding-top: 85px;
  font-size: 60px;
  font-family: "Righteous", cursive;
  transition: 0.6s;
}

nav {
  height: 70px;
  margin: 90px auto 0 auto;
  border-radius: 50px;
  width: 70%;
  background-color: #ebf3ff;
  position: relative;
  transition: 0.6s;
  z-index: 999;
}

#text-navbar {
  font-family: "Righteous", cursive;
  color: #24457e;
  transition: 0.6s;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #24457e;
  transition: 0.3s;
}

.menu-toggle {
  color: #24457e;
  font-size: 26px;
  margin: 0 10px 0 10px;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 999;
  transition: 0.3s;
}

.menu-toggle input {
  position: absolute;
  width: 30px;
  height: 40px;
  left: -4px;
  top: -1px;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.menu-toggle .fa-bars {
  transition: 0.3s;
  transform: scale(1);
}

.menu-toggle .fa-times {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 2px;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0);
}

#nav-for-mobile {
  height: 100vh;
  width: 80vw;
  background-color: #24457e;
  position: fixed;
  z-index: 666;
  top: 0;
  left: -100%;
  padding-top: 50px;
  transition: all 0.6s;
  opacity: 0;
}

#nav-for-mobile #text-navbar {
  font-family: "Righteous", cursive;
  color: #ebf3ff;
  transition: 0.6s;
}

/* -=--------------------- end navbar ------------------------ */

/* ---------------------------------- section ---------------------- */
section {
  padding-top: 110px;
}
/* ---------------------------- end section -------------------------- */

/* ------------------------------- sticky navbar ------------------------ */
.sticky #main-navbar {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 8px 8px black;
  transition: 0.6s;
}

.sticky #judul {
  margin: auto;
  padding-top: 0;
  font-size: 30px;
  transition: 0.6s;
}

.sticky nav {
  height: 50px;
  margin: auto;
  width: 60%;
  transition: 0.6s;
}
/* ---------------------------------- end sticky navbar ------------------------ */

/* ------------------------------ home --------------------------------------- */
#home {
  margin-bottom: 70px;
}

#profile {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  background-color: #ebf3ff;
  border: 10px solid #24457e;
  box-shadow: 0 0 2px 5px #a4c6ff;
  transition: 0.5s;
}

#name {
  font-size: 70px;
  color: #24457e;
  text-align: center;
  font-family: "Righteous", cursive;
}
/* ----------------------------------- end home ----------------------------------- */

/* -------------------------------------- about -------------------------------------- */
#about {
  background-color: #24457e;
  color: #ebf3ff;
  text-shadow: -2px 0 #24457e, 0 2px #24457e, 2px 0 #24457e, 0 -2px #24457e;
}

.tentang {
  background-image: url(img/foto.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

#for-title {
  font-size: 50px;
  font-family: "Righteous", cursive;
  text-align: center;
}
/* ---------------------------------------- end about ------------------------------- */

/* ------------------------------------------ skill ----------------------------------- */
#skill {
  background-color: #24457e;
  color: #ebf3ff;
}

#img-cars {
  width: 200px;
  margin: 10px auto 20px auto;
  height: auto;
  border-radius: 50px;
  border: 5px solid #a4c6ff;
  box-shadow: 0 0 2px 5px #ebf3ff;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

#img-cars:hover {
  border-radius: 30px;
  transition: 0.3s;
}

#img-cars img {
  transition: 0.3s;
}

#img-cars img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  width: 50px;
  height: 20px;
  border-radius: 20px 3px 20px 3px;
  border: 2px solid #ebf3ff !important;
  cursor: pointer;
  outline: none;
  margin: 5px 10px 10px 10px;
  transition: all 0.3s ease;
  background: #ebf3ff !important;
}

.owl-dot:hover,
.owl-dot.active {
  background: #a4c6ff !important;
}

#skill .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
}

.swiper-container .swiper-slide {
  width: 300px;
  height: 300px;
  background: #ebf3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid #a4c6ff;
  box-shadow: inset 0 0 1px 5px #24457e;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  max-width: 180px;
  max-height: 180px;
}

.swiper-slide span {
  margin-top: 10px;
  color: #24457e;
  font-size: 24px;
  font-family: "Source Code Pro", monospace;
}
/* ---------------------------------------------- end skill -------------------------------- */

/* --------------------------------------------- portfolio --------------------------------- */
#portfolio {
  color: #24457e;
}

#portfolio .card {
  border-radius: 20px;
  border: 5px solid #24457e;
  box-shadow: 0 0 2px 5px #a4c6ff;
  position: relative;
  overflow: hidden;
}

#portfolio .card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.3s;
}

#portfolio .card img:hover {
  transform: scale(1.1);
}
/* --------------------------------------------- end portfolio ---------------------------- */

/* ------------------------------------------------ contact ---------------------------------- */
#ini-komen {
  background-color: #24457e;
}

.contact-box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(1) translateY(0);
}

.contact-box:hover .imgBx {
  transform: scale(1) translateY(-100%);
}

.imgBx img {
  max-width: 100px;
  filter: invert(1);
}

.contact-box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  background: #24457e;
  border-radius: 20px;
  overflow: hidden;
}

.contact-box .contact-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
  background-color: white;
  border-radius: 20px;
  transform: scale(1) translateY(calc(100% - 10px));
}

.contact-box:hover .contact-content {
  transform: scale(1);
}
/*
.col-xl-3:nth-child(2) .contact-content {
  background-color: #dace46;
}

.col-xl-3:nth-child(3) .contact-content {
  background-color: #20b120;
}

.col-xl-3:nth-child(4) .contact-content {
  background-color: #20a9a6;
} */

.contact-icon img {
  max-width: 150px;
}

.contact-content h4 {
  color: #24457e;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.contact-content h5 {
  color: #24457e;
  font-size: 15px;
  font-weight: 500;
}
.contact-content a:hover {
  text-decoration: none;
}
/* ---------------------------------------------------- end contact --------------------------------- */

/* ----------------------------------------- footer ------------------------------------ */
/* ----------------------------------------- end footer -------------------------------------- */

/*  */
/*  */
/*  */

/* Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  main {
    margin-top: 100px;
  }

  section {
    padding-top: 20px;
  }

  #profile {
    width: 160px;
    transition: 0.5s;
  }

  #main-navbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 8px 8px black;
    transition: 0.6s;
  }

  .sticky #main-navbar {
    height: 80px;
  }

  #judul {
    margin: auto;
    padding-top: 0;
    font-size: 20px;
    transition: 0.6s;
  }

  .sticky #judul {
    font-size: 20px;
  }

  .sticky nav {
    width: auto;
    height: auto;
  }

  nav {
    height: 40px;
    margin: auto;
    width: auto;
    transition: 0.6s;
  }

  nav .menu-toggle {
    display: block;
  }

  nav a {
    display: none;
  }

  #nav-for-mobile.show {
    left: 0;
    opacity: 0.9;
    transition: all 0.6s;
  }

  header .res-toggs .fa-times {
    opacity: 1;
    transition: 0.3s;
    transform: scale(1);
  }

  header .res-toggs .fa-bars {
    opacity: 0;
    transition: 0.3s;
    transform: scale(0);
  }

  #name {
    font-size: 40px;
  }

  #profile {
    border: 5px solid #24457e;
    box-shadow: 0 0 2px 3px #a4c6ff;
  }

  #home h2 {
    font-size: 20px;
  }

  .tentang {
    background-image: none;
  }
}

/* Medium devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
}
